
  <div id="top" class="top">
    <img class=" image girl-about-us" src="assets\images\stockMarket.jpg" alt="" width="100%" height="100%">
    <h2 class="heading" style="margin-left:100px;">Sector Based Trade Recommendation System</h2>
    <div  class=" login-button container md-col-5">
      <form class="example-full-width" (ngSubmit)="openlogin()">
      <button  (click)="setSaving()" class="btn" type="submit">
        {{ btnval }}
      </button>
      </form>
      <div class="login-form">
        <router-outlet >     
        </router-outlet>
      </div>
      
</div>
</div>
  


