

<div style = "margin-left:20px" class=" cards  container text-center">
  <div class="cardsbox row row-cols-4">


    <div class="col"> 
      <div (click)="showstocks('Construction')" class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Construction</h5>
            <p class="card-text"></p>
           
          </div>
        </div>
    </div>

    <div class="col"> 
      <div (click)="showstocks('Fast Moving Consumer Goods')" class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Fast Moving Consumer Goods</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card" (click)="showstocks('Financial Services')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Financial Services</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card" (click)="showstocks('Automobile and Auto Components')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Automobile and Auto Components</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

  </div>
  <div class="cardsbox row row-cols-4">


    <div class="col"> 
      <div class="card" (click)="showstocks('Telecommunication')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Telecommunication</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card" (click)="showstocks('Chemicals')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Chemicals</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card"  (click)="showstocks('Services')"  style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card" (click)="showstocks('Construction Materials')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Construction Materials</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

  </div>
  <div class="cardsbox row row-cols-4">


    <div class="col"> 
      <div class="card"  (click)="showstocks('Consumer Durables')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Consumer Durables</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card"  (click)="showstocks('Oil Gas & Consumable Fuels')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Oil Gas & Consumable Fuels</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card" (click)="showstocks('Metals & Mining')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Metals & Mining</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card" (click)="showstocks('Healthcare')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Healthcare</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

  </div>

  <div class="cardsbox row row-cols-4">
    <div class="col" style="    margin-left: 270px;"> 
      <div class="card " (click)="showstocks('Power')"  style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Power</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card"  (click)="showstocks('Information Technology')" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Information Technology</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>


  </div>

</div>
