.user-login{
    color:rgb(23, 23, 153);
    margin-left:25%;
}
.btn{
    background-color:rgb(23, 23, 153);
    margin-left:43%;
    /* margin-top: 30px; */
}
.login{
    margin-left:30%;
    padding-bottom: 40px;
    padding-top:40px;
    padding-left:40px;
    padding-right:40px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.mentor {
    
  border-radius: 5%;
  box-shadow: rgba(23, 23, 153, 0.8) 0px 2px 8px 0px;
  }
  :host {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .type-toggle {
      padding-inline-start: 0.5rem;
  }
  .show-option,
      .hide-option {
        font-size: 1.2rem;
        display: block;
      }
 .mat-icon {
    margin-left: 454px;
    position: absolute;
    top: 270px;
 }     
      