<!-- <div class="mentor  column  col-lg-4 col-md-4 col-sm-6 "></div> -->
<div class="mentor login container col-md-6">
    <h1 class="user-login">User Login</h1>
    <form (ngSubmit)="userLogin()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">User ID</label>
            <input type="text" [(ngModel)]="user.userId" class="form-control" id="userId" name="userId" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input matInput [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="user.password" class="form-control" id="password" name="password" >
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
              {{showPassword?'visibility_off':'visibility'}}
          </mat-icon>
        </div>
          <button type="submit"  class="btn btn-success">Login</button>

    </form>

   
</div>
<router-outlet>
</router-outlet>

<!--
<nav>
<a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
</nav> -->



<!-- <nav>
  <a routerLink="/product/100" routerLinkActive="active">product1</a>
  <br>
  <a routerLink="product/200" routerLinkActive="active">product2</a>
</nav> -->