<hr class="line">

<div style = "margin-left:20px" class=" cards  container text-center">
  <div class="cardsbox row row-cols-4">


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Fast Moving Consumer Goods</h5>
            <p class="card-text"></p>
            <button (click)="showstocks('Fast Moving Consumer Goods')" type="button" class="btn btn-success pull-right">Open</button>
          </div>
        </div>
    </div>





    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Construction</h5>
            <p class="card-text extrabt"></p>
            <button (click)="showstocks('Construction')" type="button" data-bs-toggle="modal" data-bs-target="#constructions"  class="  btn btn-success pull-right">Open</button>
            
         
          </div>
        </div>
    </div>

    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Financial Services</h5>
            <p class="card-text extrabt"></p>
            <button (click)="showstocks('Financial Services')" type="button" 
data-bs-toggle="modal" data-bs-target="#FS"  class="btn btn-success pull-right">Open</button>
         

        
         
          </div>
        </div>
    </div>



    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Automobile and Auto Components</h5>
            <p class="card-text"></p>
            <button (click)="showstocks('Automobile and Auto Components')" type="button" data-bs-toggle="modal" data-bs-target="#Automobile"  class="btn btn-success pull-right">Open</button>
          
          
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Telecommunication</h5>
            <p class="card-text extrabt"></p>
          <button (click)="showstocks('Telecommunication')" type="button" data-bs-toggle="modal" data-bs-target="#Teleco" class="btn btn-success pull-right">Open</button>
         
         
         
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Chemicals</h5>
            <p class="card-text extrabt"></p>
            <button (click)="showstocks('Chemicals')" type="button" data-bs-toggle="modal" data-bs-target="#Chem"  class="btn btn-success pull-right">Open</button>
        </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text extrabt"></p>
          <button (click)="showstocks('Services')" type="button" data-bs-toggle="modal" data-bs-target="#Services"  class="btn btn-success pull-right">Open</button>
         
         
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Construction Materials</h5>
            <p class="card-text"></p>
            <button (click)="showstocks('Construction Materials')" type="button" data-bs-toggle="modal" data-bs-target="#CM"  class="btn btn-success pull-right">Open</button>
          </div>
        </div>
    </div>



    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Consumer Durables</h5>
            <p class="card-text extrabt"></p>
           <button (click)="showstocks('Consumer Durables')" type="button" data-bs-toggle="modal" data-bs-target="#CD"  class="btn btn-success pull-right">Open</button>
          
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Oil Gas & Consumable Fuels</h5>
            <p class="card-text"></p>
          <button (click)="showstocks('Oil Gas & Consumable Fuels')" type="button" data-bs-toggle="modal" data-bs-target="#OG"  class="btn btn-success pull-right">Open</button>
        
        
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Metals & Mining</h5>
            <p class="card-text extrabt"></p>
           <button (click)="showstocks('Metals & Mining')" type="button" data-bs-toggle="modal" data-bs-target="#MM"  class="btn btn-success pull-right">Open</button>
        
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Healthcare</h5>
            <p class="card-text extrabt"></p>
            <button (click)="showstocks('Healthcare')" type="button" data-bs-toggle="modal" data-bs-target="#HC"  class="btn btn-success pull-right">Open</button>
       
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class="card last1" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Power</h5>
            <p class="card-text extrabt"></p>
           <button (click)="showstocks('Power')" type="button" data-bs-toggle="modal" data-bs-target="#POW"  class="btn btn-success pull-right">Open</button>
          
          </div>
        </div>
    </div>


    <div class="col"> 
      <div class=" last1 card" style="width: 14rem;">
          <div class="card-body">
            <h5 class="card-title">Information Technology</h5>
            <p class="card-text"></p>
            <button (click)="showstocks('Information Technology')" type="button" data-bs-toggle="modal" data-bs-target="#IT" class="btn btn-success pull-right">Open</button>
          
          </div>
        </div>
    </div>
    <router-outlet></router-outlet>

  </div>

</div>
<!-- <app-stockdetails *ngIf="show"></app-stockdetails>  -->

<!-- <div>
<form>
    <button (click)="showstocks('Fast Moving Consumer Goods')"  class="btn btn-success pull-right">Fast Moving Consumer Goods</button>
    <br><br>
    <button (click)="showstocks('Telecommunication')" class="btn btn-success pull-right">Telecommunication</button>
    <br><br>
    <button (click)="showstocks('Construction')" class="btn btn-success pull-right">Construction</button>
    <br><br>
    <a routerLink="/Financial Services"><button (click)="showstocks('Financial Services')" class="btn btn-success pull-right">Financial Services</button></a>
    <br><br>
    <a routerLink="/Automobile and Auto Components"><button (click)="showstocks('Automobile and Auto Components')" class="btn btn-success pull-right">Automobile and Auto Components</button></a>
    <br><br>
    
    <br><br>
    <a routerLink="/Chemicals"><button (click)="showstocks('Chemicals')" class="btn btn-success pull-right">Chemicals</button></a>
    <br><br>
    <a routerLink="/Services"><button (click)="showstocks('Services')" class="btn btn-success pull-right">Services</button></a>
    <br><br>
    <a routerLink="/Construction Materials"><button (click)="showstocks('Construction Materials')" class="btn btn-success pull-right">Construction Materials</button></a>
    <br><br>
    <a routerLink="/Consumer Durables"><button (click)="showstocks('Consumer Durables')" class="btn btn-success pull-right">Consumer Durables</button></a>
    <br><br>
    <a routerLink="/Oil Gas & Consumable Fuels"><button (click)="showstocks('Oil Gas & Consumable Fuels')" class="btn btn-success pull-right">Oil Gas & Consumable Fuels</button></a>
    <br><br>
    <a routerLink="/Metals & Mining"><button (click)="showstocks('Metals & Mining')" class="btn btn-success pull-right">Metals & Mining</button></a>
    <br><br>
    <a routerLink="/Healthcare"><button (click)="showstocks('Healthcare')" class="btn btn-success pull-right">Healthcare</button></a>
    <br><br>
    <a routerLink="/Power"><button (click)="showstocks('Power')" class="btn btn-success pull-right">Power</button></a>
    <br><br>
    <a routerLink="/Information Technology"><button (click)="showstocks('Information Technology')" class="btn btn-success pull-right">Information Technology</button></a>
    <br><br>
   
   
</form>
 <router-outlet></router-outlet>
</div>
<app-stockdetails *ngIf="show"></app-stockdetails> -->
