.cards{
    margin-left:10px;
    padding-bottom: 40px;
}
.col{
    margin-top: 30px;
    margin-right:10px;
    width:260px;
}

.last1{
    margin-left: 115%;
}

.card{
    height:130px;
    border-radius: 5%;
  box-shadow: rgba(46, 154, 255, 0.4) 0px 2px 8px 0px;
}
.cardsbox{
    margin-left:48px;
    margin-top:50px;
}

.btn{
    background-color:rgb(23, 23, 153);
    width:100px;
}

.extrabt{
    margin-bottom:38px;
}
.line{
    border-top:5px solid;
    width:1250px;
  
}