
<div id="Tasks">
    <section id="Tasks">
        <div class="reg laptop">
          <div class="container-fluid">
            <div class="row">
              <div class="mentor  column  col-lg-4 col-md-4 col-sm-6 ">
                <div class="text">
                  <h3 class="mentorh"> Sectors</h3>
                  <p class="mentorp menteep "> List of sectors displayed for sector based trade recommendation system</p>
    
                </div>
                <form (ngSubmit)="opensectors()">
                <button type ="submit"class="bl btn btn-success pull-left" >Show Sectors</button>
                </form>
                
            </div>
              <div class="mentor box1 column  col-lg-4 col-md-4 col-sm-6">
                <div class="text">
                  <h3 class="mentorh">Archived Stocks</h3>
                  <p class="mentorpr menteep" style="margin-top: 10%;font-size:18px; ">
                    Previously saved stocks by the user.</p>
                </div>
               <button (click)="openarchives()" class="br btn btn-success pull-left"  >Show saved stocks</button>
              
              </div>
            </div>
          </div>
        </div>
      </section>   
    
</div>
  <app-sector *ngIf="show"></app-sector>
  <app-showstocks *ngIf="showprev"></app-showstocks>

